/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
Version   :  1.9.3
Updated   :  05/05/2021 
*/
/*! WRITE YOUR CUSTOM STYLE **/


.contact-list-s2 .contact-icon { background: linear-gradient(45deg, #3455ff 0%, #1c35b0 100%); }

/* .contact-icon { height: 38px; width: 38px; font-size: 16px; line-height: 38px; text-align: center; color: #fff; background: #23c99d; box-shadow: 0px 2px 15px 0px rgba(35, 201, 157, 0.5); border-radius: 50%; margin-right: 15px; flex-shrink: 0; } */